%h1 Characters
%h2= link_to "Create Character", '/characters', :method=> :post
%table
  %tr
    %th Name
    %th>Class/Level
    %th>Created on
    %th>Last Updated
  - @characters.each do |char|
    %tr
      %td= link_to char.name, character_path(char)
      %td= char.classes_and_levels
      %td= char.created_at
      %td= char.updated_at
