#page

- content_for :page_javascript do
  = javascript_include_tag (asset_path("character.js"))

#baked_in_javascript
  :javascript
    var baked = {
      character: #{@character.to_json},
      avaliable_classes: #{@avaliable_classes.to_json},
      races: #{@races.to_json},
      url: "#{ENV['ROOT']}/characters/#{params[:id]}"
    }

